<div class="flex w-full h-screen">

  <div class="flex flex-col gap-y-4 w-1/3 max-w-96 bg-gray-900 text-white px-4 py-4 h-screen overflow-scroll">

    <div class="flex justify-between items-center mb-8">
      <div class="uppercase font-medium text-lg">ngx Holo Card Effect</div>
      <div class="text-gray-400">v{{version}}</div>
    </div>

    <app-group [label]="'Cards'">
      <app-card-selector [cards]="importedCards" (importClick)="openDialog()" [(selectedCard)]="selectedCard"></app-card-selector>
    </app-group>

    <app-group [label]="'Display options'" [expanded]="false">
        <app-checkbox [(value)]="showCard">Show card</app-checkbox>
        <app-checkbox [(value)]="showBack">Show back</app-checkbox>
        <app-checkbox [(value)]="showFront">Show front</app-checkbox>
        <app-checkbox [(value)]="showFoil">Show foil</app-checkbox>
        <app-checkbox [(value)]="showMask">Show Mask</app-checkbox>
      </app-group>

    <app-group [label]="'Rarity'" [expanded]="false">
      @for (rarity of getRaritiesOptions(); track $index) {
        <app-checkbox [(value)]="rarities[rarity.value]">{{ rarity.label }}</app-checkbox>
      }
    </app-group>

    <app-group [label]="'Images'" [space]="GroupSpace.Large" [expanded]="false">
      <app-image-selector class="block" [label]="'Front'"
                          [options]="cardFronts()"
                          [(url)]="frontUrl"></app-image-selector>
      <app-image-selector class="block" [label]="'Back'"
                          [options]="cardBacks()"
                          [(url)]="backUrl"></app-image-selector>
      <app-image-selector class="block" [label]="'Foil'"
                          [options]="cardFoils()"
                          [(url)]="foilUrl"></app-image-selector>
      <app-image-selector class="block" [label]="'Mask'"
                          [options]="cardMasks()"
                          [(url)]="maskUrl"></app-image-selector>
    </app-group>

    
    <app-group [label]="'Card rotation'" [space]="GroupSpace.ExtraLarge" [expanded]="false">
      <app-slider [min]="-180" [max]="180" [(value)]="xAxis" [label]="'X Axis Rotation'" [showReset]="true" [showMinMax]="true" [showValue]="true"></app-slider>
      <app-slider [min]="-180" [max]="180" [(value)]="yAxis" [label]="'Y Axis Rotation'" [showReset]="true" [showMinMax]="true" [showValue]="true"></app-slider>
    </app-group>

    <app-group [label]="'Card size'" [space]="GroupSpace.ExtraLarge" [expanded]="false">
      <app-slider [min]="0" [max]="80" [(value)]="size" [label]="'Size (rem)'" [showReset]="true" [showMinMax]="true" [showValue]="true" [default]="20"></app-slider>
    </app-group>
    
    <app-group [label]="'Max card rotation'" [space]="GroupSpace.ExtraLarge" [expanded]="false">
      <app-slider [min]="0" [max]="100" [(value)]="maxXRotation" [label]="'X Axis Rotation'" [showReset]="true" [showMinMax]="true" [showValue]="true" [default]="25"></app-slider>
      <app-slider [min]="0" [max]="100" [(value)]="maxYRotation" [label]="'Y Axis Rotation'" [showReset]="true" [showMinMax]="true" [showValue]="true" [default]="15"></app-slider>
    </app-group>
    
    <app-group [label]="'Corner radius'" [space]="GroupSpace.ExtraLarge" [expanded]="false">
      <app-slider [min]="0" [max]="25" [step]="0.05" [(value)]="firstRadius" [label]="'Radius (1)'" [default]="4.55" [showReset]="true" [showMinMax]="true" [showValue]="true"></app-slider>
      <app-slider [min]="0" [max]="25" [step]="0.05" [(value)]="secondRadius" [label]="'Radius (2)'" [default]="3.5" [showReset]="true" [showMinMax]="true" [showValue]="true"></app-slider>
    </app-group>

    <app-group [label]="'Interaction'">
      <app-checkbox [(value)]="interactiveCard">Interactive card</app-checkbox>
      <app-button (clicked)="jump()">Jump</app-button>
      <app-button (clicked)="flip()">Flip</app-button>
      <app-button (clicked)="rotate()">Rotate</app-button>
    </app-group>

  </div>

  <div class="flex w-full h-full justify-center items-center bg-gray-800 flex-grow cursor-crosshair select-none">
    <ngx-holo-card #card
              [(showCard)]="showCard"
              [(showBack)]="showBack"
              [(showFront)]="showFront"
              [(showFoil)]="showFoil"
              [(showMask)]="showMask"
              [frontImage]="frontUrl"
              [backImage]="backUrl"
              [foilImage]="foilUrl"
              [maskImage]="maskUrl"
              [maxXRotation]="maxXRotation"
              [maxYRotation]="maxYRotation"
              [(xAxis)]="xAxis"
              [(yAxis)]="yAxis"
              [(zAxis)]="zAxis"
              [(size)]="size"
              [(rarities)]="rarities"
              [(firstRadius)]="firstRadius"
              [(secondRadius)]="secondRadius"
              [interactive]="interactiveCard"></ngx-holo-card>
  </div>
</div>

@if (dialogOpen()) {
  <div class="h-screen w-screen z-[9999] bg-black/50 fixed top-0 left-0 flex items-center justify-center">
    <div class="bg-slate-800 px-4 py-4 rounded-lg w-1/2 h-[calc(100vh-4rem)] flex flex-col gap-y-2 justify-between">
      <textarea [(ngModel)]="jsonCardsText" class="w-full bg-slate-700 text-gray-300 text-sm rounded-lg flex-grow mb-2" placeholder="es. {
    &quot;cards&quot;: [
      {
        &quot;name&quot;: &quot;Card 1 Name&quot;,
        &quot;type&quot;: &quot;Common&quot;,
        &quot;front&quot;: &quot;https://example.com/front.jpg&quot;,
        &quot;back&quot;: &quot;https://example.com/back.jpg&quot;,
        &quot;rarity&quot;: &quot;common&quot;
      },
      {
        &quot;name&quot;: &quot;Card 2 Name&quot;,
        &quot;type&quot;: &quot;Reverse Holo non-rare&quot;,
        &quot;front&quot;: &quot;https://example.com/front.jpg&quot;,
        &quot;back&quot;: &quot;https://example.com/back.jpg&quot;,
        &quot;foil&quot;: &quot;https://example.com/foil.jpg&quot;,
        &quot;mask&quot;: &quot;https://example.com/mask.jpg&quot;,
        &quot;rarity&quot;: &quot;uncommon reverse holo&quot;
      }
  }"></textarea>
      <div class="flex items-center justify-end gap-x-2">
        <app-button (clicked)="closeDialog()">Cancel</app-button>
        <app-button (clicked)="importCards()">Import</app-button>
      </div>
    </div>
  </div>
}
